registry=https://registry.npmjs.org/
@cuvera:registry=https://pkgs.dev.azure.com/ashwinialike/_packaging/ashwinialike/npm/registry/ 
//pkgs.dev.azure.com/ashwinialike/_packaging/ashwinialike/npm/registry/:username=ashwinialike
//pkgs.dev.azure.com/ashwinialike/_packaging/ashwinialike/npm/registry/:_password=RHNKNmZXalpYeFBSMTlaNmhrQWd6bGV1ZENMZE1zT0x1NzA4d2FjNU9mSklzcEdyaURITUpRUUo5OUJIQUNBQUFBQUFBQUFBQUFBU0FaRE80Q2FV
//pkgs.dev.azure.com/ashwinialike/_packaging/ashwinialike/npm/:username=ashwinialike
//pkgs.dev.azure.com/ashwinialike/_packaging/ashwinialike/npm/:_password=RHNKNmZXalpYeFBSMTlaNmhrQWd6bGV1ZENMZE1zT0x1NzA4d2FjNU9mSklzcEdyaURITUpRUUo5OUJIQUNBQUFBQUFBQUFBQUFBU0FaRE80Q2FV
always-auth=true