services:
  auth-service:
    image: ci-dev.cuvera.ai/auth-service:latest
    container_name: ${SERVICE_NAME}
    ports:
      - "7003:7003"
    env_file:
      - .env
      - ../../env/backstage/.env
    restart: always
    networks:
      - cuvera-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.25'
    security_opt:
      - no-new-privileges:true
    stop_grace_period: 30s
    stop_signal: SIGTERM

networks:
  cuvera-network:
    external: true